.indexButton {
    position: absolute;
    width: clamp(20vmin, 25vmax, 25vmax);
    height: auto;
}

#dylan {
    top: 0;
    left: 0;
}

#christian {
    top: 0;
    right: 0;
}

#jack {
    bottom: 0;
    left: 0;
}

#kieran {
    bottom: 0;
    right: 0;
}

#mrdoilybutton {
    position: fixed;
    width: 40vw;
    max-width: 40vw;
    height: auto;
    max-height: 40vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }