/*index.html*/
.indexFaces {
    position: absolute;
    width: clamp(20vmin, 25vmax, 25vmax);
    height: auto;
}

#dylan {
    top: 0;
    left: 0;
}

#christian {
    top: 0;
    right: 0;
}

#jack {
    bottom: 0;
    left: 0;
}

#kieran {
    bottom: 0;
    right: 0;
}

.centerUnit { /*this is a bit redundant but just keeping it should i want to attach an element to the main doily*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

#centerButton {
    width: clamp(30vmin, 40vmax, 40vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
}

/*comingsoon.html*/
#comingSoon {
    position: fixed;
    width: clamp(30vmin, 40vmax, 50vmax);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*go back button*/
.goBackControl {
    position: absolute;
    top: 0;
    left: 0;
}

.goBackLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#goBackButton {
    position: static;
    width: clamp(10vmin, 10vmax, 20vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
}

.goBackText {
    font-size: 125%;
    color: black;
}

/*homepage.html*/
.homepageBtn {
    position: absolute;
    width: clamp(15vmin, 23vmax, 23vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
}

#socials {
    top: 15vh;
    left: 5vw;
}

#gigs {
    top: 15vh;
    right: 27vw;
}

#music {
    bottom: 5vh;
    left: 27vw;
}

#contact {
    bottom: 5vh;
    right: 5vw;
}

.homepageDeco {
    position: absolute;
    height: auto;
    z-index: -1;
    width: clamp(17vmin, 27vmax, 27vmax);
}

#pencil {
    top: 10vh;
    left: 25vw;
}

#pens {
    bottom: 0;
    left: 5vw;
}

#picks {
    top: 17vh;
    right: 0;
}

#rubberBands {
    bottom: 0;
    right: 25vw;
}

#harmonica {
    top: 0;
    right: 5vw;
}

@media (max-width: 600px) {
    .homepageBtn {
    position: absolute;
    width: clamp(15vmin, 23vmax, 23vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
    }

    #socials {
        top: 20vh;
        left: 5vw;
    }

    #gigs {
        top: 20vh;
        right: 5vw;
    }

    #music {
        bottom: 20vh;
        left: 5vw;
    }

    #contact {
        bottom: 20vh;
        right: 5vw;
    }

    .homepageDeco {
        position: absolute;
        height: auto;
        z-index: -1;
        width: clamp(30vmin, 40vmax, 40vmax);
    }

    #pencil {
        top: 6vh;
        left: 0;
    }

    #pens {
        bottom: 20vh;
        left: 0;
    }

    #picks {
        top: 32vh;
        right: 0;
    }

    #rubberBands {
        bottom: 0;
        right: 15vw;
    }

    #harmonica {
        top: 0;
        right: 5vw;
    }
}

