.indexButton {
    position: absolute;
    width: clamp(20vmin, 25vmax, 25vmax);
    height: auto;
}

#dylan {
    top: 0;
    left: 0;
}

#christian {
    top: 0;
    right: 0;
}

#jack {
    bottom: 0;
    left: 0;
}

#kieran {
    bottom: 0;
    right: 0;
}

#centerButton {
    position: fixed;
    width: clamp(30vmin, 40vmax, 40vmax);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#comingSoon {
    position: fixed;
    width: clamp(10vmin, 20vmax, 20vmax);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#backButton {
    top: 0;
    left: 0;
    position: absolute;
    width: clamp(5vmin, 10vmax, 10vmax);
    height: auto;
}