.indexPage {
    outline: 3px solid red;
}

.indexButton {
    position: absolute;
    width: 40%;
    height: auto;
    outline: 2px solid blue;
}

#dylan {
    top: 0;
    left: 0;
}

#christian {
    top: 0;
    right: 0;
}

#jack {
    bottom: 0;
    left: 0;
}

#kieran {
    bottom: 0;
    right: 0;
}