html, body {
  margin: 0;
  padding: 0;
}

/*index.html*/
.indexPage {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.homepageBtn {
    position: absolute;
    width: clamp(15vmin, 20vmax, 20vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
}

.homepageBtn:hover{
  filter: brightness(0.8);
  transform: rotate(-1deg) scale(1.05);
}

#socials {
    top: 0;
    left: 0;
}

#gigs {
    top: 0;
    right: 0;
}

#music {
    bottom: 0;
    left: 0;
}

#contact {
    bottom: 0;
    right: 0;
}

#about{
    bottom: 50%;
    left: 50%;
    transform: translate(80%, 50%) rotate(0deg) scale(1);
}

#about:hover{
    filter: brightness(0.8);
    transform: translate(80%, 50%) rotate(-1deg) scale(1.05);
}

#merch{
    top: 50%;
    right: 50%;
    transform: translate(-80%, -50%) rotate(0deg) scale(1);
}

#merch:hover{
    filter: brightness(0.8);
    transform: translate(-80%, -50%) rotate(-1deg) scale(1.05);
}

#centerButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: clamp(15vmin, 30vmax, 30vmax);
    height: auto;
}

#pencil {
    top: 0vh;
    left: 20vw;
    width: clamp(10vmin, 12vmax, 12vmax);
}

#pens {
    bottom: 0;
    left: 6vw;
    width: clamp(12vmin, 22vmax, 22vmax);
}

#picks {
    top: 32vh;
    right: 0;
    width: clamp(10vmin, 15vmax, 15vmax);
}

#rubberBands {
    bottom: 0;
    right: 25vw;
    width: clamp(17vmin, 27vmax, 27vmax);
}

#harmonica {
    top: 10vh;
    right: 30vw;
    width: clamp(12vmin, 22vmax, 22vmax);
}

.homepageDeco {
    position: absolute;
    z-index: -1;
    width: clamp(17vmin, 27vmax, 27vmax);
}

/*comingsoon.html*/
#comingSoon {
    position: fixed;
    width: clamp(30vmin, 40vmax, 50vmax);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*go back button*/
.goBackControl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.goBackLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#goBackButton {
    position: static;
    width: clamp(10vmin, 10vmax, 20vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
    z-index: 9999;
}

.goBackText {
    font-size: 125%;
    color: black;
}

/*contact.html*/
.contactPage {
    position: relative;
    height: 90vh;
}
.contactGroup {
    position: absolute;
    width: clamp(15vmin, 25vmax, 25vmax);
    left: 50%;
    top: 50%;
    transform: translate(-65%, -80%);
}

#doilyDesk {
    position:absolute;
    right: 30%;
    top: 0;
    width: clamp(15vmin, 25vmax, 25vmax);
}

#contactEmail {
    position:absolute;
    left: 5%;
    bottom: 0;
    width: clamp(20vmin, 30vmax, 30vmax);
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1); 
    cursor: pointer;
}

/*gigs.html*/
.gigsPage {
    position: relative;
    height: 60vh;
}

#poster1 {
    position: absolute;
    width: 30vw;
    height: auto;
    transition: transform 180ms ease;
    left: 35%;
    top: 15%;
}

@media (max-width: 600px) {
    .indexPage {
        height: 90vh;
    }

    #centerButton {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        width: clamp(25vmin, 30vmax, 30vmax);
        height: auto;
    }   
    .homepageBtn {
        position: absolute;
        width: clamp(15vmin, 20vmax, 20vmax);
        height: auto;
        transition: transform 180ms ease;
        transform: rotate(0deg) scale(1);   
    }

    #socials {
        top: 30vh;
        left: 5vw;
    }

    #gigs {
        top: 30vh;
        right: 5vw;
    }

    #music {
        bottom: 0vh;
        left: 5vw;
    }

    #contact {
        bottom: 0vh;
        right: 5vw;
    }

    #about {
        bottom: 19.5vh;
        left: 5vw;
        transform: rotate(0deg) scale(1);
    }

    #merch {
        top: auto;
        bottom: 19.5vh;
        right: 5vw;
        transform: rotate(0deg) scale(1);
    }

    #about:hover {
        filter: brightness(0.8);
        transform: rotate(-1deg) scale(1.05);
    }

    #merch:hover {
        filter: brightness(0.8);
        transform: rotate(-1deg) scale(1.05);
    }


    .homepageDeco {
        position: absolute;
        height: auto;
        z-index: -1;
    }

    #pencil {
        top: 6vh;
        left: 0;
        width: clamp(10vmin, 20vmax, 20vmax);
    }

    #pens {
        bottom: 10vh;
        left: 0;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #picks {
        top: 39vh;
        right: 25vw;
        width: clamp(10vmin, 20vmax, 20vmax);
    }

    #rubberBands {
        bottom: 0;
        right: 10vw;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #harmonica {
        top: 0;
        right: 0;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #comingSoon {
        position: fixed;
        width: clamp(40vmin, 50vmax, 50vmax);
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .contactGroup {
        position: absolute;
        width: clamp(15vmin, 25vmax, 25vmax);
        left: 35%;
        top: 50%;
        transform: translate(-45%, -80%);
    }

    #doilyDesk {
        position:absolute;
        right: -0%;
        top: 0;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #contactEmail {
        position:absolute;
        right: 0;
        bottom: 0;
        width: clamp(30vmin, 40vmax, 40vmax);
        transition: transform 180ms ease;
    }
    
    #poster1 {
        width: 65vw;
        height: auto;
        left: 17%;
        top: 35%;
    }
}
