.indexButton {
    position: absolute;
    width: 25vw;
    height: auto;
}

#dylan {
    top: 0;
    left: 0;
}

#christian {
    top: 0;
    right: 0;
}

#jack {
    bottom: 0;
    left: 0;
}

#kieran {
    bottom: 0;
    right: 0;
}

#mrdoilybutton {
    width: 50vw;
    max-width: 50vw;
    height: auto;
    max-height: 50vw;
    position: fixed;
    left: 50vw;
    top: 50vw;
}