/*index.html*/
.indexFaces {
    position: absolute;
    width: clamp(20vmin, 25vmax, 25vmax);
    height: auto;
}

#dylan {
    top: 0;
    left: 0;
}

#christian {
    top: 0;
    right: 0;
}

#jack {
    bottom: 0;
    left: 0;
}

#kieran {
    bottom: 0;
    right: 0;
}

.centerUnit { /*this is a bit redundant but just keeping it should i want to attach an element to the main doily*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

#centerButton {
    width: clamp(30vmin, 40vmax, 40vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
}

/*comingsoon.html*/
#comingSoon {
    position: fixed;
    width: clamp(30vmin, 40vmax, 50vmax);
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*go back button*/
.goBackControl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.goBackLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#goBackButton {
    position: static;
    width: clamp(10vmin, 10vmax, 20vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
    z-index: 9999;
}

.goBackText {
    font-size: 125%;
    color: black;
}

/*homepage.html*/
.homepageBtn {
    position: absolute;
    width: clamp(15vmin, 23vmax, 23vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
}

#socials {
    top: 15vh;
    left: 5vw;
}

#gigs {
    top: 15vh;
    right: 27vw;
}

#music {
    bottom: 5vh;
    left: 27vw;
}

#contact {
    bottom: 5vh;
    right: 5vw;
}

.homepageDeco {
    position: absolute;
    height: vh;
    z-index: -1;
    width: clamp(17vmin, 27vmax, 27vmax);
}

#pencil {
    top: 10vh;
    left: 35vw;
    width: clamp(10vmin, 12vmax, 12vmax);
}

#pens {
    bottom: 0;
    left: 5vw;
    width: clamp(12vmin, 22vmax, 22vmax);
}

#picks {
    top: 18vh;
    right: 0;
    width: clamp(10vmin, 15vmax, 15vmax);
}

#rubberBands {
    bottom: 0;
    right: 25vw;
    width: clamp(17vmin, 27vmax, 27vmax);
}

#harmonica {
    top: 0;
    right: 5vw;
    width: clamp(12vmin, 22vmax, 22vmax);
}

/*contact.html*/
.contactPage {
    position: relative;
    height: 90vh;
}
.contactGroup {
    position: absolute;
    width: clamp(15vmin, 25vmax, 25vmax);
    left: 50%;
    top: 50%;
    transform: translate(-65%, -80%);
}

#doilyDesk {
    position:absolute;
    right: 30%;
    top: 0;
    width: clamp(15vmin, 25vmax, 25vmax);
}

#contactEmail {
    position:absolute;
    left: 5%;
    bottom: 0;
    width: clamp(20vmin, 30vmax, 30vmax);
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1); 
    cursor: pointer;
}

/*gigs.html*/
.gigsPage {
    position: relative;
    height: 60vh;
}

#poster1 {
    position: absolute;
    width: 30vw;
    height: auto;
    transition: transform 180ms ease;
    left: 35%;
    top: 15%;
}

@media (max-width: 600px) {
    .homepageBtn {
    position: absolute;
    width: clamp(15vmin, 23vmax, 23vmax);
    height: auto;
    transition: transform 180ms ease;
    transform: rotate(0deg) scale(1);   
    }

    #socials {
        top: 20vh;
        left: 5vw;
    }

    #gigs {
        top: 20vh;
        right: 5vw;
    }

    #music {
        bottom: 20vh;
        left: 5vw;
    }

    #contact {
        bottom: 20vh;
        right: 5vw;
    }

    .homepageDeco {
        position: absolute;
        height: auto;
        z-index: -1;
    }

    #pencil {
        top: 6vh;
        left: 0;
        width: clamp(10vmin, 20vmax, 20vmax);
    }

    #pens {
        bottom: 10vh;
        left: 0;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #picks {
        top: 39vh;
        right: 25vw;
        width: clamp(10vmin, 20vmax, 20vmax);
    }

    #rubberBands {
        bottom: 0;
        right: 10vw;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #harmonica {
        top: 0;
        right: 0;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #comingSoon {
        position: fixed;
        width: clamp(40vmin, 50vmax, 50vmax);
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .contactGroup {
        position: absolute;
        width: clamp(15vmin, 25vmax, 25vmax);
        left: 35%;
        top: 50%;
        transform: translate(-45%, -80%);
    }
    #doilyDesk {
        position:absolute;
        right: -0%;
        top: 0;
        width: clamp(20vmin, 30vmax, 30vmax);
    }

    #contactEmail {
        position:absolute;
        right: 0;
        bottom: 0;
        width: clamp(30vmin, 40vmax, 40vmax);
        transition: transform 180ms ease;
    }
    
    #poster1 {
        width: 65vw;
        height: auto;
        left: 17%;
        top: 35%;
    }
}
